.main-content{
    width: 100%;
    text-align: center;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
}


.main-content-headline {
    font-family: "Oswald";
    color: #464547;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}

.main-content-subheadline {
    font-family: "Source Sans Pro";
    color: #666666;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;  

}

.main-article{

    display: grid;
    font-family: "Source Sans Pro";
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    column-gap: 10%;
    grid-template-columns: 1fr 1fr; 
    margin-left: 20%;
    margin-right: 20%;

}


.main-button {
    font-family: "Oswald";
    color: white;
    background-color: #55C2D8;
    width: 115px;
    height: 36px;
    font-size: 14px;
    line-height: 26px;
    border-radius: 18px;
    border: 0px;
    margin-top:40px;
}

@media (max-width: 768px) {
    .main-article{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    
    }

    .main-button {
        margin-top:0px;
    }
}


.main-button:hover{
    animation: rotate 3s  linear infinite;
}

@keyframes rotate {
    0%, 20% { transform-origin:left; transform: rotate(0deg) }
    20%, 40% {  transform-origin:left; transform: rotate(15deg)  }
    40%, 60% {  transform-origin:left; transform: rotate(15deg)  }
    60%, 100% {  transform-origin:left; transform: rotate(0deg)  }
}