.learn_more-content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    place-items: center;
    text-align: center;
}

.learn_more-content > * {
    display: block;
    margin: 20% 0% 10% 0%;
}

.learn_more-content h2{
    font-family: "Oswald";
    color: white;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;  
}

.learn_more-content button{
    background-color: #55C2D8;
    color: white;
    width: 150px;
    height: 150px;
    font-size: 80px;
    border: 0px;
    border-radius: 50%;
    animation: shrink 0.2s;
}

.learn_more-content h3{
    font-family: "Source Sans Pro";
    color: white;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;  
}

.learn_more-content button:hover{
    animation: expand 0.3s  ease-in-out forwards;
}


@keyframes expand {
    from { transform: scale(1); background-color: #55C2D8; color: white}
    to { transform: scale(1.1); background-color: white; color:#55C2D8}
}

@keyframes shrink {
    
    from { transform: scale(1.1); background-color: white; color:#55C2D8 }
    to { transform: scale(1); background-color: #55C2D8; color: white}
}
