body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
 
.hero{
    background: url(/assets/Desktop_Backgrounds_1920x1200.png) ;
    background-size: cover;
    min-height: 100vh;
}

.main {   
    background: #EEEEEE;
    position: relative;
    background-size: cover;
    min-height: 100vh;
    display: grid;
    place-items: center;
}


.learn_more{
    background: url(/assets/Conference_Background_1200x666.png) ;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.footer {
    position: relative;
    background: #464547;
}

@media (max-width: 768px) {
    body{
        text-align: center;
    }
}